/* your styles go here */
.zoom-photo-rjs{
    width: 304px;
    height:304px;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid white;
  border-radius: 49%;
  margin: auto;
  box-shadow: 0 1px 56px #ffbf00;
  }
  .zoom-rajesh-hover{
    width: 100%;
    transition: all .3s ease-in-out;
    display: block !important;
  }
  .zoom-rajesh-hover:hover{
    transform: scale(1.2);
    transition: 0.3s;
  }
  